body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #87CEEB; /* Ainda não sei que bomba de cor vou colocar  */
}

.converter-container {
    background: #0099FF; /* Ainda não sei que bomba de cor vou colocar  */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 400px;
    border: 3px solid black;
}

.selectors, .inputs {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    gap: 10px;
}

select, input {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #005A9C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #003F6F;
}
